@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



.bg-primary {
  background-color: #aacef2;
}

/* Background gradient classes */
.bg-gradient-to-b {
  background-image: var(--gradient-to-b, linear-gradient(0deg, #000, #fff));
}

.from-transparent {
  --gradient-stops: transparent, var(--background-end-start);
}

.to-bg-end-start {
  --gradient-stops: var(--background-end-start), transparent;
}

.via-bg-background-end {
  --gradient-stops: transparent, var(--background-end-start), transparent;
}